################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
AI-Learning-Agents/backend/.env
ChatGPT Image Aug 18, 2026, 09_28_50 AM.png
AI-Learning-Agents/backend/app/routers/__pycache__/chat.cpython-314.pyc
AI-Learning-Agents/backend/.env
